<div class="full-width" ng-if="mn.disabledSubmit">
	<div class="loader-container">
		<div class="loader-wrapper">
			<div class="loader"></div>
		</div>
	</div>
</div>

<div class="container">

	<img class="logo img-responsive" src="/assets/images/rappi-logo.png" alt="logo" />

	<button type="button" class="btn btn-success pull-right" ng-click="mn.openInstructionsModal()">instructions</button>
	
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <form ng-submit="mn.submit()">

      <div class="row">
        <div class="form-group">
          <label for="testcaseQuantity">Testcases Quantity</label>
          <input
            id="testcaseQuantity"
            type="number"
            min="1"
            class="form-control"
            placeholder="Testcases Quantity"
            ng-model="mn.testcaseQuantity"
            />
        </div>
      </div>

      <div class="row">
        <ul class="list-group"ng-if="mn.testcases">
          <li class="list-group-item testcase-list-item" ng-repeat="currentTestcase in mn.testcases track by $index">
            Testcase {{$index + 1}}
            <br/>
            <ri-testcase testcase="currentTestcase" index="$index"></ri-testcase>
          </li>
        </ul>
      </div>

			<div class="text-center submit-button-container">
				<button type="submit" class="btn btn-success" ng-disabled="mn.disabledSubmit">Submit</button>
			</div>
    </form>
  </div>


</div>
