<div class="col-xs-12 col-sm-10 col-sm-offset-2">
  <div class="input-group">

    <div class="input-group-btn" uib-dropdown is-open="status.isopen">
      <button id="db-{{op.tcindex}}-{{op.opindex}}" type="button" class="btn btn-primary operation-dropdown-button" uib-dropdown-toggle ng-disabled="disabled">
        {{op.activeOption}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="db-{{op.tcindex}}-{{op.opindex}}">
        <li role="menuitem" ng-click="op.changeActiveOption('UPDATE')" ng-if="op.activeOption !== 'UPDATE'"><a>UPDATE</a></li>
        <li role="menuitem" ng-click="op.changeActiveOption('QUERY')" ng-if="op.activeOption !== 'QUERY'"><a>QUERY</a></li>
      </ul>
    </div>

    <ri-op-input
      ng-repeat="placeholder in op.placeholders track by $index"
      n="op.n"
      placeholder="placeholder"
      value="op.value[$index]"
      changecurrentoperation="op.changeCurrentOperation"
      >
    </ri-op-input>
  </div>
</div>
