<br/>

<div class="form-horizontal">

  <div class="form-group">
    <label for="matrixSideLength" class="col-xs-3 col-sm-2 control-label">Matrix Side Length</label>
    <div class="col-xs-9 col-sm-10">
      <input
        id="matrixSideLength"
        type="number"
        min="1"
        class="form-control"
        placeholder="N"
        ng-model="tc.testcase.n">
    </div>
  </div>

  <div class="form-group">
    <label for="operationQuantity" class="col-xs-3 col-sm-2 control-label">Operation Quantity</label>
    <div class="col-xs-9 col-sm-10">
      <input
        id="operationQuantity"
        type="number"
        min="1"
        class="form-control"
        placeholder="M"
        ng-model="tc.testcase.m">
    </div>
  </div>

</div>


<div
  class="rioperation"
  ng-if="tc.testcase.operations"
  ng-repeat="currentOperation in tc.testcase.operations track by $index"
  >
  <ri-operation
    operation="tc.testcase.operations[$index]"
    n="tc.testcase.n"
    tcindex="tc.index"
    opindex="$index"
    >
  </ri-operation>

  <div style="clear: both"></div>
</div>
