body {

  .rioperation {
    &:last-child {
      &:after {
        content: "*";
        visibility: hidden;
        clear: both;
      }
    }
  }

  .operation-dropdown-button {
    width: 95px;
  }
}
